/*navlänkar*/
@use "base";

ul {
    @extend %links-ul;

    a {
        @extend %links-a;
        color: base.$color-text-background;
    }

    a:hover {
        text-shadow: 2px 2px 10px rgb(127, 31, 191);
        }

    a:active {
        text-shadow: 5px 5px 30px rgb(127, 31, 191);
    }
}

.active {
    color: rgb(127, 31, 191);
}

/*Stylingknapp animeringssida*/
#styleBtn {
    padding: 0.5em 1em;
    border-radius: 0.4rem;
    border: 0.1px solid rgb(7, 7, 7); 
    font-size: 1.25rem;
    display: block;
    font-family: base.$font-stack-headings;
    background-color: rgb(172, 110, 213); 
    margin: 1rem;
}

#styleBtn:hover {
    box-shadow: 0 0 30px rgb(16, 6, 23);
    cursor: pointer;
}

/*Sökknapp kartsida*/
#searchBtn {
    @extend #styleBtn;
    max-height: 50px;
}

/*Sökruta kartsida*/
#searchBox {
    padding: 0.5em 1em;
    border-radius: 0.4rem;
    max-height: 20px;
    margin-top: 20px;
}